/* client/src/index.css */

/* Set a slightly smaller base font size for the whole page */
html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  overflow: hidden; /* Prevent the main page from ever scrolling */
}
